body{
    --twitter-color: rgb(29, 161, 242);
    --twitter-background: #b9b9b9;
}

.app{
    display: flex;
    max-width: 1300px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}