.feed{
    flex: 0.55;
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;
}

.feed::-webkit-scrollbar{
    display: none;
}

.feed__header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 10px 10px;
    font-size: 14px;
    color: var(--twitter-color);
    display: grid;
    place-items: center;
}