.feed{
    flex: 0.55;
    border-right: 0.5px solid rgb(238, 236, 236);
    min-width: fit-content;
    overflow-y: scroll;
    margin-bottom: 20px;
}

.feed::-webkit-scrollbar{
    display: none;
}

.feed__header{
    background-color: white;
    border: 0.5px solid rgb(238, 236, 236);
    padding: 10px 10px;
    font-size: 10px;
    color: var(--twitter-color);
    display: flex;
    place-items: flex-start;
}
.feed__sparkle{
    margin-left: auto;
}

.feed__sticky{
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 100;
}