.post{
    border-top: 0.5px solid rgb(238, 236, 236);
    border-bottom: 0.5px solid rgb(238, 236, 236);
    cursor: pointer;
    display: flex;
}

.post:hover{
    background-color: whitesmoke;
    transition: color 150ms ease-out;
}

.post__avatar{
    margin: 18px;
}

.post__header {
    display: flex;
    margin-top: 18px;
}

.post__verified {
    color: var(--twitter-color);
    margin-left: 5px;
}

.post__header > h4 {
    color: rgb(83, 100, 113);
    font-weight: 100;
    margin-left: 3px;
}

.post__header > h3{
    font-size: 16px;
}

.post__verified {
    font-size: 20px !important;
}