.post{
    border-top: 0.5px solid rgb(238, 236, 236);
    border-bottom: 0.5px solid rgb(238, 236, 236);
    cursor: pointer;
    display: flex;
    width: 100%;
}

.post:hover{
    background-color: whitesmoke;
    transition: background-color 250ms ease-in-out;
}

.post__avatar{
    margin: 18px;
}

.post__header {
    display: flex;
    margin-top: 18px;
}

.post__verified {
    color: var(--twitter-color);
    margin-left: 5px;
}

.post__header > h4 {
    color: rgb(83, 100, 113);
    font-weight: 100;
    margin-left: 3px;
}

.post__header > h3{
    font-size: 16px;
}

.post__verified {
    font-size: 16px !important;
    margin-top: 5px !important;
}

.post__text {
    margin-top: 6px;
}

.post__footer{
    margin-top: 12px;
}

.post__footerIcon {
    color: var(--twitter-color) !important;
    margin-right: 30px;
    padding: 12px !important;
    cursor: pointer;
    font-size: 20px !important;
}

.post__footerIcon:hover{
    background-color: #e8f5fe;
    border-radius: 30px !important;
    transition: background-color 150ms ease-in-out;
}

.post__footerLike{
    color: #E02E66 !important;
    margin-right: 30px;
    padding: 12px !important;
    cursor: pointer;
    font-size: 20px !important;
}

.post__footerLike:hover{
    background-color: #F5E1E7;
    border-radius: 30px !important;
    transition: background-color 150ms ease-in-out;
}

.post__footerReTweet{
    color: #2FC476 !important;
    margin-right: 30px;
    padding: 12px !important;
    cursor: pointer;
    font-size: 20px !important;
}

.post__footerReTweet:hover{
    background-color: #E0F2E8;
    border-radius: 30px !important;
    transition: background-color 150ms ease-in-out;
}