.sidebar__TweetButton{
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin-top: 20px !important;
}

.sidebar__twitterIcon{
    color: var(--twitter-color) !important;
    margin: 20px;
    font-size: 30px !important;
    cursor: pointer;
}

.sidebar{
    flex: 0.25;
    min-width: 250px;
    border-right: 1px solid var(--twitter-background);
    padding-left: 15px;
    padding-right: 15px;
}