.sidebarOption{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebarOption > .MuiSvgIcon-root{
    padding: 15px;
}

.sidebarOption > h2{
    font-weight: 700;
    font-size: 20px;
    margin-right: 20px;
}

.sidebarOption:hover{
    background-color: #e8f5fe;
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 150ms ease-out;
}

.sidebarOption__active{
    color: var(--twitter-color);
}