.tweetBox{
    padding-bottom: 10px;
    border-bottom: 8px solid rgb(239, 243, 244);
    padding-right: 10px;
    background-color: white;
}

.tweetBox > form {
    display: flex;
    flex-direction: column;
}

.tweetBox__input {
    padding: 20px;
    display: flex;
}

.tweetBox__input > input {
    flex: 1;
    margin-left: 20px;
    font-size: 19px;
    border: none;
    outline: none;
    width: 7px;
}

.tweetBox__Button {
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 800 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 80px;
    height: 40px !important;
}

.tweetBox__Button:hover {
    background-color: rgb(5, 138, 221) !important;
}

.tweetBox__icons {
    margin-left: 80px;
    display: flex;
}

.tweetBox__icon {
    color: var(--twitter-color) !important;
    padding: 7px !important;
    cursor: pointer;
}

.tweetBox__icon:hover {
    background-color: #e8f5fe;
    border-radius: 30px !important;
    transition: background-color 150ms ease-in-out;
}

.tweetBox__ButtonDiv {
    margin-left: auto;
}
